NODE_ENV=development
PORT=5001
MONGO_URI=MONGO_URI=mongodb://satyammishra4049:trackify123@atlas-fgj0c5-shard-00-00.i2pfrrj.mongodb.net:27017,atlas-fgj0c5-shard-00-01.i2pfrrj.mongodb.net:27017,atlas-fgj0c5-shard-00-02.i2pfrrj.mongodb.net:27017/trackifyDB?ssl=true&replicaSet=atlas-fgj0c5-shard-0&authSource=admin
MONGO_URI_FALLBACK=mongodb://127.0.0.1:27017/trackify
JWT_SECRET=replace_with_a_long_random_secret

# Email Configuration (Gmail SMTP)
EMAIL_USER=your-email@gmail.com
EMAIL_PASS=your-app-password
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_SECURE=false

# Frontend URL (for email links)
FRONTEND_URL=http://localhost:5002
